<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>












<div class="top-nav py-4">
    <div class="container top">
    <div class="row">
    <div class="col">
    <button class="navbar-toggler ms-auto text-white" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"
        aria-expanded="true" aria-label="Toggle navigation">
        <i class="fas fa-bars fs-1"></i>
        </button>
        </div>
        <div class="col">
        <h1 class="text-white">TRANSACTIONS</h1>
        </div>
        <div class="col justify-content-end d-flex">
    <div>
            <i class="fa fa-search fs-1 text-white"></i>
        </div>
        
        </div>
    </div>
    </div>
    <div class="container d-flex justify-content-end gap-3 mt-3 mb-3">
    
        <button>Most Recent</button>
        <button>Most Ancient</button>
    </div>
    </div>
  </div>