<nav class="navbar navbar-expand-lg top-nav justify-content-between text-white">
  <div class="mx-3">
      <%= link_to groups_path do %>
        <i class="fa fa-arrow-left fs-1 text-white" aria-hidden="true"></i>
      <%end%>
  </div>
  <div class="fs-1">
      <%= title %>
  </div>
  <div class="mx-3 fs-4 btn text-white">
      <%= info %>
  </div>
</nav>
