<div class="top-nav py-4">
<div class="container top">
  <div class="row">
  <div class="col">
   <button class="navbar-toggler ms-auto text-white" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"
      aria-expanded="true" aria-label="Toggle navigation">
      <i class="fas fa-bars fs-1"></i>
    </button>
    </div>
    <div class="col">
    <h1 class="text-white">TRANSACTIONS</h1>
    </div>
    <div class="col justify-content-end d-flex">
   <div>
        <i class="fa fa-search fs-1 text-white"></i>
    </div>
  	
    </div>
  </div>
  </div>
  <div class="container d-flex justify-content-end gap-3 mt-3 mb-3">
   
    <button>Most Recent</button>
    <button>Most Ancient</button>
  </div>
  </div>
  </div>
